.card {
  width: 175px;
  font-size: 12px;
}

.card--img {
  width: 100%;
  border-radius: 10px;
}

.card--stats {
  display: flex;
  align-items: center;
}

.card--star {
  height: 14px;
}

.grey {
  color: #918e9b;
}

.bold {
  font-weight: bold;
}
