section {
  padding: 20px;
}

.hero {
  display: flex;
  flex-direction: column;
}

.hero--photo {
  max-width: 350px;
  align-self: center;
}

.hero--header {
  margin-bottom: 15px;
}

.hero--text {
  margin-top: 0;
}
